<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="nav-bar">
        <h1 class="nav-brand">My Blog</h1> 
    </div>
    {% for post in posts:%}
        <div class="blog">
            <h1 class="title">{{ post["title"] }}</h1>
            <h2 class="subtitle"> {{ post["subtitle"] }}</h2>
            <a href="{{ url_for('blog_post', id=post['id']) }}">Read</a>  
        </div> 
    {% endfor %}
    
    <footer class="footer">
        Made by Ankit Shrestha
    </footer>
</body>
</html>